<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .nav-link {
            padding: 0.5rem 1rem;
        }
    </style>
</head>
<body>
    <div class="container-fluid bg-black text-white py-3">
        <div class="container">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h4 class="m-0">Node MySQL Login</h4>
                <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Login</h1>
            <p>Insira suas credenciais abaixo para fazer login.</p>
        </div>
    </div>

    <div class="container mt-4 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">            
            <div class="card-header">Formulário de login</div>    
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="email-login" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-login" name="email">                        
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password-login" name="password">
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

            </div>
              {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>

                {{/if}}
            
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z5G5+MqD2Va1NocggptV/2k0W3Rr5jJ2FuXDnP" crossorigin="anonymous"></script>
</body>
</html>
